<section class="produtos-page">
    <a class="title" href="../">
        <span class="material-icons">&#xe408;</span> 
        Estampas
    </a>
    <section class="produtos-cards">
        {{#each temas}}
        <a class="produto" href="/estampas/{{nome}}">
            <div class="img-produto"><img src="/uploads/{{imageUrl}}" alt=""></div>
            <div class="produto-nome">{{nome}}</div>
        </a>
        {{/each}}
    </section>
</section>