<nav class="menuAdm">
    <div class="menu-item" id="adicionar">
        <a href="/adm/add">Adicionar</a>
    </div>
    <div class="menu-item" id="produtos">
        <a href="/adm/produtos">Produtos</a>
    </div>
    <div class="menu-item" id="estampas">
        <a href="/adm/estampas">Estampas</a>
    </div>
    <div class="menu-item" id="categorias">
        <a href="/adm/categorias">Categorias</a>
    </div>
    <div class="menu-item" id="temas">
        <a href="/adm/temas">Temas</a>
    </div>
</nav>