<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/adm/add">Adicionar</a>
    <a href="/adm/produtos">Produtos</a>
    <a href="/adm/estampas">Estampas</a>
    <a href="/adm/categorias">Categorias</a>
    <a href="/adm/temas">Temas</a>
</div>
<nav class="menuAdm">
    <div id="main">
        <button class="openbtn" onclick="openNav()">&#9776; Menu</button>
    </div>
    <div class="menu-item" id="adicionar">
        <a href="/adm/add">Adicionar</a>
    </div>
    <div class="menu-item" id="produtos">
        <a href="/adm/produtos">Produtos</a>
    </div>
    <div class="menu-item" id="estampas">
        <a href="/adm/estampas">Estampas</a>
    </div>
    <div class="menu-item" id="categorias">
        <a href="/adm/categorias">Categorias</a>
    </div>
    <div class="menu-item" id="temas">
        <a href="/adm/temas">Temas</a>
    </div>
</nav>
<script>
    /* Set the width of the sidebar to 250px and the left margin of the page content to 250px */
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
    }
</script>