<footer>
    <a class="contato" href="https://www.instagram.com/martepersonalizadosrr/" target="_blank">
        <img class="icone-contato" id="instagram-img" src="/assets/instagram.png"></img>
        <p class="contato-title" id="instagram-name">Instagram</p>
    </a>
    <a class="contato" target="_blank" href="https://api.whatsapp.com/send?phone=5595991292263&text=Olá!%20Gostaria%20de%20fazer%20uma%20encomenda">
        <img class="icone-contato" id="whatsapp-img"  src="/assets/whatsapp.png"></img>
        <p class="contato-title" id="whatsapp-name">WhatsApp</p>
    </a>
</footer>