<footer>
    <a class="contato" href="https://www.instagram.com/martepersonalizadosrr/" target="_blank">
        <img class="icone-contato" id="instagram-img" src="/assets/instagram.png" title="Clique para acessar o Instagran"></img>
        <p class="contato-title" id="instagram-name">Instagram</p>
    </a>
    <a class="contato" target="_blank" href="mailto:martepersonalizadosrr@gmail.com">
        <img class="icone-contato" id="whatsapp-img"  src="/assets/email.png" title="Clique para acessar o E-mail"></img>
        <p class="contato-title" id="email-name">E-mail</p>
    </a>
    <a class="contato" target="_blank" href="https://api.whatsapp.com/send?phone=5595981056701&text=Olá!%20Gostaria%20de%20fazer%20uma%20encomenda">
        <img class="icone-contato" id="whatsapp-img"  src="/assets/whatsapp.png" title="Clique para acessar o WhatsApp"></img>
        <p class="contato-title" id="whatsapp-name">WhatsApp</p>
    </a>
</footer>