<section class="adm-adicionar">
    <div class="adicionar-form">
        <h4>Adicionar Novo Produto</h4>
        <form action="" method="post"  enctype="multipart/form-data">
            <label for="nome" >Nome:</label>
            <input type="text" placeholder="Ex: Caneca de vidro" name="nome">
            <label for="nome" >Tipo:</label>
            <input type="text" placeholder="Ex: Caneca" name="tipo">
            <label for="preco">Preço:</label>
            <input type="text" placeholder="Ex: 30,50" name="preco">
            <label for="descricao">Descrição:</label>
            <textarea name="descricao" id="" cols="10" rows="10" ></textarea>
            <label for="img">Imagem:</label>
            <input type="file" name="img" id="">
            <input type="submit" value="Adicionar">
        </form>
    </div>
    <div class="adicionar-form">
        <h4>Adicionar Nova Estampa</h4>
        <form action="" method="post"  enctype="multipart/form-data">
            <label for="tema">Tema:</label>
            <input type="text" placeholder="Ex: Harry Potter" name="tema">
            <label for="descricao">Descrição:</label>
            <textarea name="descricao" id="" cols="10" rows="10" ></textarea>
            <label for="img">Imagem:</label>
            <input type="file" name="img" id="">
            <input type="submit" value="Adicionar">
        </form>
    </div>
</section>