{{!-- <h1>How to store image path in MySQL database using Node js - Tutsmake.com</h1>
<form action="/post" enctype="multipart/form-data" method="post">
  <input type="file" name="image" accept='image/*'>
  <input type="submit" value="Upload">
</form> --}}

<section class="menu">
  <a class="menu-option" href="/produtos/categoria">
    <div class="img-menu"><img src="" alt=""></div>
    <div class="item-menu">Produtos</div>
  </a>
  <a class="menu-option" href="#">
    <div class="img-menu"><img src="" alt=""></div>
    <div class="item-menu">Desenhos</div>
  </a>
</section>