{{!-- <h1>How to store image path in MySQL database using Node js - Tutsmake.com</h1>
<form action="/post" enctype="multipart/form-data" method="post">
  <input type="file" name="image" accept='image/*'>
  <input type="submit" value="Upload">
</form> --}}

<section class="menu">
  <div class="menu-option">
    <img src="" alt="">
    <div class="item-menu">Produtos</div>
  </div>
  <div class="menu-option">
    <img src="" alt="">
    <div class="item-menu">Desenhos</div>
  </div>
</section>