<section class="produtos-page">
    <div class="title"> Produtos</div>
    <section class="produtos-cards">
        {{#each produto}}
        <a class="produto">
            <div class="img-produto"><img src="/images/{{img.pathname}}" alt=""></div>
            <div class="produto-nome">{{nome}}</div>
        </a>
        {{/each}}
        <a class="produto">
            <div class="img-produto"><img src="" alt=""></div>
            <div class="produto-nome">Nome</div>
        </a>
    </section>
</section>