*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

header{
    background-image: url("../assets/galaxy-bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 200px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
    border-bottom: 4px solid #DDAA59;
}
header span {
    background-image: url("../assets/logo_PNG.png");
    /* background-image: url("../assets/logo.jpeg"); */
    background-size: contain;
    width: 200px;
    height: 200px;
}
header .title{
    color: #DDAA59 ;
    text-shadow: 5px 5px 5px black;
    font-size: 40px;
}