.produtos-page{
    max-width: 1080px;
    margin: auto;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    align-items: center; */
}

.produtos-page .title{
    align-self: flex-start;
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
    font-size: 26px;
    text-decoration: none;
    color: black;
}

.produtos-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 20px;
    flex-wrap: wrap;
    cursor: pointer;
}
.produto-nome{
    font-size: 26px;
}
.img-produto{
    background-color: whitesmoke;
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-produto img{
    max-width: inherit;
    max-height: inherit;
}


/*   PRODUTOS CLIENT SECTION  */
.card-client{
    display: flex;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    align-items: center;
    max-width: calc(100vw - 20px);
}
.card-client img{
    height: 120px;
    max-width: 120px;
    border-radius: 10px;
}
.card-client .dados{
    display: flex;
    flex-direction: column;
    width: 230px;
    flex-wrap: wrap;
    padding-left: 15px;
    height: 100%;
}
.card-client #titulo{
    text-transform: uppercase;
    margin: 5px;
    flex: 0.2
}
.card-client .subdados{
    flex: 0.8;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.card-client #preco{
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    margin: 0px;
}

/*########## ESTAMPAS CLIENT ##########*/
.card-client-estampa{
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 2px solid #555;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    align-items: center;
    text-align: center;
}
h3#numero{
   align-self: flex-start;
   margin: 5px;
}
.card-client-estampa img {
    max-width: 280px;
    max-height: 200px;
    border-radius: 10px;
}
.card-client-estampa .dados{
    display: flex;
    flex-direction: column;
    width: 230px;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 90%;
}



/*TODOS OS PRODUTOS - ADM SECTION*/
.adm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    min-height: 400px;
    width: 250px;
    margin: 10px;
}
.card a{
    text-decoration: none;
    align-self: flex-end;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    width: 70px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}
#excluir{
    background-color: rgb(175, 2, 2);
}
#editar{
    background-color: #DDAA59;
}
.card a span{
    font-size: 16px;
    margin-right: 2px;
}
.editar-excluir{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.card .dados{
    text-align: center;
}
.card .dados h3, p, h2{
    margin: 10px;
}
/* .card .dados p{
    word-wrap: break-word;
    word-break: break-all;
} */
.img{
    height: 310px;
    width: 210px;
    display: flex;
    justify-content: center;
    /* background-color: whitesmoke; */
    align-items: center;
    /* border-bottom: 2px solid black; */
    /* padding-bottom: 10px; */
}
.card img{
    image-rendering: optimizeSpeed;
    max-width: 200px;
    max-height: 270px;
    border-radius: 10px;
}
.separador{
    width: 90%;
    height: 2px;
    background-color: #555;
    margin-top: 10px;
    border-radius: 50px;
}

/*   EDITAR IMAGEM DO PRODUTO  */
.img-edit{
    max-height: 200px;
    max-width: 200px;
    width: -moz-fit-content;
    width: fit-content;
    height: fit-content;
    image-rendering: optimizeSpeed;
    margin: 10px auto;
    border-radius: 10px;
}

@media only screen and (max-width: 600px) {
    .produtos-page .title{
        width: 90%;
    }
}