.produtos-page{
    max-width: 1080px;
    margin: auto;
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center;
    align-items: center; */
}

.produtos-page .title{
    align-self: flex-start;
    width: 50%;
    margin: auto;
    font-size: 26px;
}

.produtos-cards{
    display: flex;
    justify-content: space-around;
}
.produto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    text-align: center;
    margin: 20px;
    flex-wrap: wrap;
}
.produto-nome{
    font-size: 26px;
}
.img-produto{
    background-color: whitesmoke;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    margin-bottom: 10px;
}





/*TODOS OS PRODUTOS - ADM SECTION*/
.adm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    flex-wrap: wrap;
}
.card{
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    height: 400px;
    width: 250px;
    margin: 10px;
}
.card a{
    text-decoration: none;
    align-self: flex-end;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(175, 2, 2);
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 12px;
}
.card a span{
    font-size: 16px;
}
.img{
    height: 310px;
    width: 210px;
    display: flex;
    justify-content: center;
    /* background-color: whitesmoke; */
    align-items: center;
    /* border-bottom: 2px solid black; */
    /* padding-bottom: 10px; */
}
.card img{
    image-rendering: optimizeSpeed;
    max-width: 200px;
    max-height: 270px;
    border-radius: 10px;
}
.card .separador{
    width: 90%;
    height: 2px;
    background-color: #555;
    margin-top: 10px;
    border-radius: 50px;
}