{{>admMenu}}
<section class="adm-adicionar">
    <div class="adicionar-form">
        <h4>Adicionar Novo Produto</h4>
        <form action="/adm/add/produto" method="post"  enctype="multipart/form-data">
            <label for="nome" >Nome:</label>
            <input type="text" maxlength="30" placeholder="Ex: Caneca de vidro" name="nome" required>
            <label for="categoria"  >Categoria:</label>
            <select required name="categoria" title="selecione uma categoria">
                <option value="null">Selecione</option>
                {{#each categorias}}
                <option value="{{nome}}">{{nome}}</option>
                {{/each}}
            </select>
            <label for="preco">Preço:</label>
            <input type="text" placeholder="Ex: 30,50" name="preco" required>
            <label for="descricao">Descrição:</label>
            <textarea name="descricao" maxlength="55" id="descricao" title="descricao" cols="10" rows="10" ></textarea>
            <label for="image">Imagem:</label>
            <input type="file" name="image" id="img-prod" required>
            <img class="pre-img" src="#" alt="" id="pre-prod">
            <input type="submit" value="Adicionar Produto">
        </form>
    </div>
    <div class="adicionar-form">
        <h4>Adicionar Nova Estampa</h4>
        <form action="/adm/add/estampa" method="post"  enctype="multipart/form-data">
            <label for="tema">Tema:</label>
            <select required name="tema" title="selecione um tema">
                <option value="null">Selecione</option>
                {{#each temas}}
                <option value="{{nome}}">{{nome}}</option>
                {{/each}}
            </select>
            <label for="descricao">Descrição:</label>
            <textarea name="descricao" maxlength="55" id="" cols="10" rows="10" ></textarea>
            <label for="image">Imagem:</label>
            <input type="file" name="image" id="img-estampa" required>
            <img class="pre-img" src="#" alt="" id="pre-estampa">
            <input type="submit" value="Adicionar Estampa">
        </form>
    </div>
    <div class="adicionar-form">
        <h4>Adicionar Nova Categoria</h4>
        <form action="/adm/add/categoria" method="post"  enctype="multipart/form-data">
            <label for="nome">Nome:</label>
            <input type="text" maxlength="30" required placeholder="Ex: Canecas" name="nome">
            <label for="image">Imagem:</label>
            <input type="file" name="image" id="img-cat" required>
            <img class="pre-img" src="#" alt="" id="pre-cat">
            <input type="submit" value="Adicionar Categoria">
        </form>
        <br>
        <hr>
        <br>
        <h4>Adicionar Novo Tema</h4>
        <form action="/adm/add/tema" method="post"  enctype="multipart/form-data">
            <label for="nome">Nome:</label>
            <input type="text" maxlength="30" required placeholder="Ex: Canecas" name="nome">
            <label for="image">Imagem:</label>
            <input type="file" name="image" id="img-tema" required>
            <img class="pre-img" src="#" alt="" id="pre-tema">
            <input type="submit" value="Adicionar Tema">
        </form>
    </div>
</section>
<script>
    const produto = document.getElementById("produtos")
    const categoria = document.getElementById("categorias")
    const estampa = document.getElementById("estampas")
    const tema = document.getElementById("temas")
    const add = document.getElementById("adicionar")
    add.classList.add("ativo")
    produto.classList.remove("ativo")
    estampa.classList.remove("ativo")
    tema.classList.remove("ativo")
    categoria.classList.remove("ativo")


    const imgTema = document.getElementById("img-tema")
    const preTema = document.getElementById("pre-tema")
    preTema.style.display = "none"
    imgTema.addEventListener("change", ()=>{
        preTema.style.display = "flex"
        const [file] = imgTema.files
        if(file){
            preTema.src = URL.createObjectURL(file)
        }
    })

    const imgCat = document.getElementById("img-cat")
    const preCat = document.getElementById("pre-cat")
    preCat.style.display = "none"
    imgCat.addEventListener("change", ()=>{
        preCat.style.display = "flex"
        const [file] = imgCat.files
        if(file){
            preCat.src = URL.createObjectURL(file)
        }
    })

    const imgEst = document.getElementById("img-estampa")
    const preEst = document.getElementById("pre-estampa")
    preEst.style.display = "none"
    imgEst.addEventListener("change", ()=>{
        preEst.style.display = "flex"
        const [file] = imgEst.files
        if(file){
            preEst.src = URL.createObjectURL(file)
        }
    })

    const imgProd = document.getElementById("img-prod")
    const preProd = document.getElementById("pre-prod")
    preProd.style.display = "none"
    imgProd.addEventListener("change", ()=>{
        preProd.style.display = "flex"
        const [file] = imgProd.files
        if(file){
            preProd.src = URL.createObjectURL(file)
        }
    })
</script>