{{>admMenu}}
<section class="adm">
    {{#each categorias}}
    <div class="card">
        <a href="/excluir/categoria/{{idCategoria}}">Excluir<span class="material-icons">&#xe14c;</span></a>
        <img src="{{imageUrl}}" alt="">
        <div class="dados">
            <h3>{{nome}}</h3>
        </div>
    </div>
    {{/each}}
</section>
<script>
    const produto = document.getElementById("produtos")
    const categoria = document.getElementById("categorias")
    const estampa = document.getElementById("estampas")
    const tema = document.getElementById("temas")
    const add = document.getElementById("adicionar")
    add.classList.remove("ativo")
    categoria.classList.add("ativo")
    produto.classList.remove("ativo")
    estampa.classList.remove("ativo")
    tema.classList.remove("ativo")
</script>